//Footer
.footer-main {
  position: relative;
  padding: 50px 0 59px 0;
  background-image: url("../img/contact-back.png");
  @include back-img;
}
.menu-border-top {
  padding-top: 25px;
}
footer {
  li {
	position: relative;
	a, .fax-item {
	  @include small-text;
	  position: relative;
	  transition: color ease-out .5s;
	}
	a:hover {
	  color: $yellow-main;
	  cursor: pointer;
	}
  }
  .contact-list li a, .contact-list li .fax-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
  }
}
.two-columns {
  column-count: 2;
  column-gap: 1rem;
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foo-title {
  @include base-text;
  color: #0b060b;
}
#go-top {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 999;
  padding: size(10);
  border-radius: 10px 0 0 10px;
  img {
	animation: jump-top 1.2s ease-in-out alternate infinite;
	width: 15px;
  }
}
.foo-socials-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}
.foo-social-link-item {
  margin: 0 4px;
  padding: size(10);
  transition: transform ease-out .5s;
  &:hover {
	transform: scale(0.9, 0.9);
  }
  &:first-child {
	margin: 0 0 0 4px;
  }
  &:last-child {
	margin: 0 4px 0 0;
  }
  img {
	max-height: 100%;
  }
}
.square-item.insta-link {
  background-color: $yellow-main;
}
.footer-form {
  background-color: $form-back;
  padding: size(63) 0 size(20) 0;
}
.col-form-titles {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 9px;
  @media (max-width: 992px) {
	flex-wrap: wrap;
  }
}
.foo-logo {
  img {
	max-height: size(90);
  }
}
