//Forms
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select,
.select-sort {
  @include input-text;
  @include input-style;
  margin-bottom: 11px;
}
.select-sort {
  -webkit-appearance: none;
  background-image: url("../iconsall/filter-arrow.png");
  height: size(44);
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  background-size: size(13);
  background-position: size(17);
  padding: 5px size(22) 5px size(35);
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(24);
  background-position: calc(100% - 13px) center;
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
  background-size: size(14);
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
  background-size: size(26);
  background-position: calc(100% - 9px) center;
}
div.wpcf7 textarea {
  background-image: url("../iconsall/form-textarea.png") !important;
  background-position: calc(100% - 11px) center;
  background-size: size(26);
  padding-top: size(16);
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-size: size(19);
  line-height: normal;
  background-image: url("../iconsall/arrow-down.png");
  background-position: size(19) center;
}
div.wpcf7 input[type="submit"] {
  @include submit-link-style;
}
.select-col .wpcf7-form-control-wrap {
  &:after {
	position: absolute;
	right: 0;
	content: '';
	height: 100%;
	background-image: url("../iconsall/form-select.png");
	background-position: center;
	background-size: size(26);
	width: size(55);
	top: 0;
	background-repeat: no-repeat;
	z-index: 3;
  }
}
.form-title {
  @include h2;
}
.form-subtitle {
  @include h4;
}
.post-form-col {
  background-color: $yellow-main;
  position: sticky;
  top: 0;
  padding: size(57) size(38) 10px size(38);
  z-index: 999;
  @media (max-width: 1200px) and (min-width: 993px) {
	div.wpcf7 input[type="submit"] {
	  background-image: none;
	}
  }
}
.search-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  input {
	@include input-text;
	@include input-style;
	padding: 5px 20px;
	flex-grow: 1;
	@media (max-width: 576px) {
	  width: 100%;
	}
  }
  button {
	@include submit-link-style;
	background-color: $yellow-main !important;
	color: #000000 !important;
	padding: 4px 20px;
	border: none !important;
	min-width: 30%;
	margin: 0 10px;
	@media (max-width: 576px) {
	  margin: 15px 0 0 0;
	  width: 100%;
	}
  }
  @media (max-width: 576px) {
	flex-wrap: wrap;
  }
}
.float-form {
  position: fixed;
  top: 20%;
  z-index: 99959599599;
  transition: all .5s;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  &.show-float-form {
	left: size(65);
	opacity: 1;
	pointer-events: all;
	transform: translateX(0);
	@media (max-width: 768px) {
	  left: 15px;
	  right: 15px;
	}
  }
}
.popup-form {
  background-color: #eedfd7;
  padding: size(40) size(60) size(10) size(60);
  width: 631px;
  @media (max-width: 768px) {
	width: calc(100% - 30px);
	padding: size(40) size(20) size(10) size(20);
  }
  @media (max-width: 450px) {
	div.wpcf7 input[type="submit"] {
	  background-image: none;
	}
  }
}
.form-home {
  position: relative;
  background-color: #eedfd7;
  padding: size(70) 0 size(40) 0;
}
.base-form-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 25%;
  z-index: 3;
  @media (max-width: 992px) {
	display: none;
  }
}
.form-cats {
  .base-form-img {
	bottom: -30%;
  }
}
