@mixin header-text {
  @include h5;
  color: #ffffff;
  transition: color;
  &:hover {
	color: $yellow-main;
  }
  @media (max-width: 1200px) {
	font-size: size(22);
	line-height: size(26);
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 9994;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px 0;
  .logo img {
	max-height: size(66);
  }
}
.float-search-form {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 0;
  z-index: 9995;
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  transition: transform, opacity ease-out .5s;
  &.show-search {
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
  }
  .form-title {
	margin-bottom: 10px;
	color: #ffffff;
  }
}
.pop-great {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9993;
  pointer-events: none;
  display: none;
  &.show-popup {
	display: block;
	pointer-events: all;
  }
}
.logo {
  @include d-center;
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: 0 size(12);
	  a{
		@include d-center;
		@include header-text;
	  }
	}
	&.sub-menu {
	  display: none;
	}
  }
}
.header-tel {
  margin: 0 30px;
  @include d-center;
  img {
	width: size(14);
  }
  @media (max-width: 992px) {
	margin: 0 30px 0 20px;
  }
  @media (max-width: 769px) {
	margin: 0 40px 0 10px;
  }
  @media (max-width: 576px) {
	position: fixed;
	left: 0;
	top: 40%;
	border-radius: 0 10px 10px 0;
	background-color: $yellow-main;
	z-index: 999;
	width: size(53);
	height: size(53);
	margin: 0;
  }
}
.tel-num {
  @include header-text;
  margin-right: size(12);
  @media (max-width: 992px) and (min-width: 769px) {
	display: none;
  }
  @media (max-width: 576px) {
	display: none;
  }
}
.search-trigger {
  @include d-center;
  width: size(43);
  height: size(43);
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: size(11);
  cursor: pointer;
  @media (max-width: 576px) {
	position: fixed;
	left: 0;
	top: 30%;
	border-radius: 0 10px 10px 0;
	background-color: #000000;
	z-index: 999;
	border: 2px solid #000000;
	width: size(53);
	height: size(53);
  }
}
.trigger-whatsapp-item {
  background-color: #00bf22 !important;
  margin-bottom: 11px;
}
.square-item-pop {
  border-radius: 0 10px 10px 0 !important;
}
.square-item-pop, .trigger-whatsapp-item {
  padding: size(12) !important;
}
.triggers-col {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 10%;
  z-index: 873;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
