// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin input-text {
  color: #000000;
  font-size: size(20);
  line-height: size(22);
  font-weight: 300;
}
@mixin input-style {
  padding-right: size(47);
  height: size(54);
  border-radius: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: calc(100% - 14px) center;
  background-size: size(24);
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-top: 0;
  }
  100% {
	margin-top: -16px;
  }
}
@mixin submit-link-style {
  background-position: 15% center;
  background-repeat: no-repeat;
  height: size(54);
  background-color: #000000;
  background-image: url("../iconsall/arrow-left.png");
  background-size: size(21);
  border-radius: 10px;
  color: #ffffff !important;
  font-size: size(30);
  line-height: size(30);
  text-align: center;
  font-weight: 300;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: 10% center;
  }
  @media (max-width: 1500px) and (min-width: 1200px) {
	background-position: 5% center;
	&:hover {
	  background-position: 2% center;
	}
  }
  @media (max-width: 1200px) and (min-width: 768px) {
	background-position: 25% center;
	&:hover {
	  background-position: 22% center;
	}
  }
}
@mixin base-text {
  font-size: size(24);
  line-height: size(30);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(20);
	line-height: size(22);
  }
}
@mixin small-text {
  font-size: size(20);
  line-height: size(30);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(18);
	line-height: size(20);
  }
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin arrow-link {
  background-position: center;
  background-repeat: no-repeat;
  width: size(41);
  height: size(41);
  background-color: $yellow-main;
  border-radius: 50%;
  background-size: size(31);
  z-index: 33;
}
@mixin h1 {
  font-size: size(52);
  line-height: size(54);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(42);
	line-height: size(44);
  }
}
@mixin h2 {
  font-size: size(48);
  line-height: size(50);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(38);
	line-height: size(40);
  }
}
@mixin h3 {
  font-size: size(40);
  line-height: size(42);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(32);
	line-height: size(34);
  }
}
@mixin h4 {
  font-size: size(36);
  line-height: size(40);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(28);
	line-height: size(30);
  }
}
@mixin h5 {
  font-size: size(30);
  line-height: size(32);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(26);
	line-height: size(28);
  }
}
@mixin h6 {
  font-size: size(28);
  line-height: size(30);
  font-weight: 300;
  color: #000000;
  @media (max-width: 1600px) {
	font-size: size(22);
	line-height: size(24);
  }
}
