//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	@include d-center;
	width: size(53);
	height: size(53);
	background-size: size(21);
	background-color: $yellow-main;
	border-radius: 10px;
	z-index: 33;
	transition: background-color ease-out .5s;
	&:hover {
	  background-color: #ebebeb;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-black-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-black-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -60px;
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	left: 57px;
	right: unset;
  }
}
.arrows-slider-gallery {
  margin-bottom: 2rem;
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -80px;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: 127px;
	@media (max-width: 576px) {
	  right: 60px;
	}
  }
  [dir="rtl"] .slick-prev {
	right: 70px;
	left: unset;
	@media (max-width: 576px) {
	  right: 10px;
	}
  }
}
.base-slider-block {
  position: relative;
  padding: size(200) 0 size(160) 0;
}
.reverse-slider {
  .row-slider {
	flex-direction: row-reverse;
  }
  .slider-img-col {
	.img-slider {
	  left: 0;
	  right: unset;
	  @media screen and (max-width: 992px) {
		left: unset;
	  }
	}
  }
  .slider-content-wrap {
	&:after {
	  right: -9px;
	  left: unset;
	}
  }
}
.row-slider {
  flex-wrap: nowrap;
  @media (max-width: 992px) {
	flex-wrap: wrap;
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .img-slider {
	position: absolute;
	@include back-img;
	right: 0;
	width: 150%;
	height: calc(100% + 150px);
	margin-top: -40px;
	border-radius: 15px;
	@media screen and (max-width: 1200px) {
	  width: 250%;
	}
	@media screen and (max-width: 992px) {
	  position: relative;
	  width: 100%;
	  margin-bottom: -150px;
	  height: 500px;
	}
  }
}
.slider-content-wrap {
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 58px 28px 70px 8%;
  @media screen and (max-width: 768px) {
	padding: 25px 20px 68px 20px;
  }
  &:after {
	position: absolute;
	content: '';
	left: -9px;
	top: -7px;
	width: 100%;
	z-index: -1;
	height: 100%;
	background-color: #ebebeb;
	border-radius: 15px;
  }
  @media (max-width: 992px) {
	padding: 25px 20px 68px 20px;
	&:after {
	  position: absolute;
	  content: '';
	  left: -3px !important;
	  width: calc(100% + 6px);
	  bottom: -7px;
	  right: unset !important;
	  top: unset;
	}
  }
}
//Gallery page
.gallery-body-output {
  display: flex;
  flex-direction: column;
}
.home-gallery-item {
  position: relative;
  display: flex;
  padding: 2px;
}
.gallery-image {
  display: flex;
  width: 100%;
  &:after {
	display: block;
	content: '';
	padding-bottom: 73%;
  }
}
//Post card
.col-post {
  padding: 0 5px;
  margin-bottom: 50px;
  @media (max-width: 576px) {
	padding: 0 15px;
  }
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  height: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  &:hover {
	box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.29);
	.post-image-card {
	  transform: scale(1.1, 1.1);
	}
  }
  .post-image-card {
	position: absolute;
	min-width: 100%;
	max-width: unset;
	min-height: 100%;
	transition: transform ease-out .5s;
  }
  &:after {
	position: absolute;
	content: '';
	display: block;
	height: 100%;
	top: 8px;
	right: 0;
	width: 100%;
	border-radius: 0 0 15px 15px;
	background-color: #ebebeb;
	z-index: 2;
  }
}
.post-item-image {
  position: relative;
  z-index: 4;
  border-radius: 15px 15px 0 0;
  @include d-center;
  width: 100%;
  overflow: hidden;
  &:after {
	content: '';
	display: block;
	padding-bottom: 82%;
  }
}
.square-item.post-card-link {
  position: absolute;
  left: 7px;
  bottom: 16px;
  padding: size(16);
  background-color: $yellow-main;
  img {
	transition: transform .5s;
  }
  &:hover {
	transform: scale(0.9, 0.9);
	transition: transform .5s;
  }
}
.post-card-content {
  z-index: 4;
  background-color: #ffffff;
  padding: size(10) size(17) size(15) 0;
  flex-grow: 1;
  position: relative;
  border-radius: 0 0 15px 15px;
  .base-text {
	padding-left: 60px;
  }
}
.post-card-title {
  @include h5;
  margin-bottom: 10px;
  transition: color ease-out .5s;
  &:hover {
	color: $yellow-main;
  }
}
.posts-output {
  margin: size(70) 0;
}
//Category card
.card-category {
  width: 100%;
  height: 100%;
  &:hover {
	.category-card-content {
	  opacity: 1;
	  pointer-events: all;
	}
	.category-card-title-main {
	  display: none;
	}
  }
}
.category-img {
  position: relative;
  border-radius: 17px;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 86%;
  }
}
.category-card-content {
  @include overlay;
  border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-out .5s;
  .category-card-title {
	color: #eedfd7 !important;
  }
}
.category-card-title {
  color: #000000 !important;
  font-size: size(72);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
  text-align: center;
  margin-bottom: size(29);
  @media (max-width: 1700px) {
	font-size: size(52);
	line-height: size(55);
  }
}
.category-card-link {
  @include h5;
  color: #eedfd7 !important;
  text-align: center;
  background-image: url("../iconsall/arrow-left.png");
  background-position: 4px center;
  background-repeat: no-repeat;
  background-size: size(21);
  padding: 0 size(35);
  transition: background-position ease-out .5s;
  &:hover {
	background-position: left center;
  }
}
.category-card-text {
  @include base-text;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: size(16);
}
.category-col {
  margin-bottom: size(37);
}
.categories-block {
  position: relative;
  padding-top: 160px;
  &:before {
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	display: block;
	width: 100%;
	height: 80%;
	background-image: linear-gradient(to bottom, #eedfd7 0%, rgba(238, 223, 215, 0) 100%);
	opacity: 0.5;
  }
}
.home-cat-row {
  @media (max-width: 992px) {
	.category-col {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
}
//Reviews
.video-button {
  position: absolute;
  top: 11px;
  left: 0;
  padding: size(11);
  background-color: #265446 !important;
  z-index: 2;
  cursor: pointer;
  transition: transform ease-out .5s;
  &:hover {
	transform: scale(0.95, 0.95);
  }
}
.review-title {
  @include h2;
  margin-bottom: 10px;
  color: #0b060b;
}
.review-product-title {
  @include h5;
  margin-bottom: size(10);
}
.rev-content {
  position: relative;
  padding: size(40) size(30) size(20) 30%;
  @media (max-width: 1400px) {
	padding: size(40) size(30) size(20) 10%;
  }
  @media (max-width: 576px) {
	padding: size(70) size(20) size(20) 7%;
  }
}
.reviews-block {
  padding: 100px 0 200px 0;
  .slider-content-wrap {
	padding: size(12);
	&:after {
	  right: -9px;
	  left: unset;
	}
  }
  background-image: url("../img/reviews-back.png");
  background-position: bottom center;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  &.top-revs {
	background-position: top center;
	background-size: cover;
  }
  .base-slider {
	margin-bottom: 3rem;
	padding-left: 17px;
  }
  [dir="rtl"] .slick-next {
	left: 17px;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	left: 74px;
	right: unset;
  }
}
.reviews-logo {
  @include d-center;
  margin-bottom: 9px;
  img {
	max-height: size(77);
  }
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
.article-page-body {
  .alert-info {
	color: #000000;
	background-color: $yellow-main;
	border-color: $yellow-main;
	border-radius: 10px;
  }
}
