/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  html{
	font-size: 22px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 16px;
  }
  .container {
	max-width: calc(100% - 90px);
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 18px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .foo-contact-menu {
	order: 2;
  }
  .foo-menu-links {
	order: 3;
	margin-top: 3rem;
  }
  .product-gallery-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
}
@media (min-width: 769px) {
  #MainNav ul li.menu-item-has-children, #MainNav ul li.menu-item-has-children li.second-sub-menu.menu-item-has-children {
	background-image: url("../iconsall/submenu.png");
	background-position: left center;
	background-size: size(9);
	background-repeat: no-repeat;
  }
  ul.sub-menu {
	display: none;
	flex-direction: column;
	opacity: 0;
	pointer-events: none;
	li {
	  margin-bottom: size(15);
	  &:last-child a {
		border-bottom: none;
	  }
	  a {
		position: relative;
		@include base-text;
		color: #ffffff;
		transition: color ease-out .5s;
		&:hover {
		  color: $yellow-main;
		}
	  }
	}
  }
  .drop-container {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: auto;
	display: none;
	z-index: 999999;
	overflow-y: auto;
	width: 467px;
	ul.sub-menu {
	  display: flex;
	  opacity: 1;
	  pointer-events: all;
	  padding: 30px 10% 20% 30%;
	  ul.sub-menu {
		padding: 1rem 1rem 0 0;
		li {
		  color: #ffffff;
		  list-style: disc;
		  font-size: size(20);
		  line-height: size(22);
		  a {
			font-size: size(20);
			line-height: size(22);
		  }
		}
	  }
	}
	.back-to-menu, .sub-head {
	  display: none !important;
	}
  }
}

/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .gallery-block {
	.base-link {
	  margin-top: 3rem;
	}
  }
  .post-form-col {
	div.wpcf7 input[type="submit"] {
	  background-image: none !important;
	}
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
