@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "partials";
@import "forms";
@import "header";
@import "footer";


body{
  font-family: $assistant;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.square-item {
  @include d-center;
  background-color: #000000;
  border-radius: 10px;
  width: size(53);
  min-width: size(53);
  height: size(53);
}
.base-text {
  @include base-text;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	margin-bottom: size(24);
  }
  h1 {
	@include h1;
  }
  h2 {
	@include h2;
  }
  h3 {
	@include h3;
  }
  h4 {
	@include h4;
  }
  h5 {
	@include h5;
  }
  h6 {
	@include h6;
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(40);
  }
  img {
	width: 100%;
	margin: 1rem 0;
  }
  li {
	position: relative;
	margin-bottom: size(18);
	padding-right: 1rem;
	&:before {
	  content: '•';
	  color: $yellow-main;
	  position: absolute;
	  right: 0.25rem;
	}
  }
}
.top-block {
  @include back-img;
  height: 230px;
  margin-bottom: 14px;
  background-image: url("../img/top-basic.png");
}
.bread-row {
  margin-bottom: 10px;
  li a, li span {
	@include small-text;
	transition: color ease-out .5s;
  }
  li a:hover {
	color: $yellow-main;
  }
}
.block-title {
  @include h2;
  text-align: center;
  @include d-center;
  padding: 0 35px;
  margin-bottom: 30px;
  &:after, &:before {
	position: absolute;
	content: '';
	display: block;
	width: 50px;
	height: 3px;
	background-color: #000000;
  }
  &:before {
	right: -35px;
  }
  &:after {
	left: -35px;
  }
}
.base-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  img {
	margin-right: 18px;
	width: size(21);
	transition: transform ease-out .5s;
  }
  &:hover {
	img {
	  transform: rotate(360deg);
	}
  }
}
.link-text {
  @include h5;
}
//Contact page
.page-body-contact {
  @include back-img;
  background-image: url("../img/contact-back.png");
  padding-top: size(130);
  .nav-tabs .nav-item {
	margin-bottom: 17px;
  }
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-color: #000000;
	color: #ffffff;
  }
  .nav-tabs .nav-link {
	border-radius: 10px;
	background-color: $yellow-main;
	@include d-center;
	padding: 5px size(85);
	@include h4;
	color: #0b060b;
	text-align: center;
	min-height: size(51);
	height: 100%;
	@media (max-width: 992px) {
	  padding: 5px size(20);
	}
  }
  .nav-tabs {
	border-bottom: none;
	margin-bottom: size(100);
  }
}
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(50);
}
.contact-icon-wrap {
  @include d-center;
  background-color: $yellow-main;
  width: size(99);
  height: size(99);
  border-radius: 10px;
  margin-bottom: size(18);
  padding: size(16);
}
.contact-info {
  @include h4;
  color: #0b060b;
  text-align: center;
  margin-bottom: size(11);
}
.contact-info-text {
  @include h5;
  text-align: center;
}
//Blog/Products
.more-link {
  @include d-center;
  height: size(53);
  border-radius: 10px;
  background-color: #000000;
  margin-bottom: size(52);
  padding: 4px size(65);
  transition: transform ease-out .5s;
  &.loading {
	img {
	  display: none;
	}
  }
  .fa-pulse {
	color: #ffffff;
  }
  img {
	width: size(15);
  }
  span {
	@include h5;
	color: #eedfd7;
	text-align: center;
	margin-left: size(13);
  }
  &.hide {
	display: none;
  }
  &:hover {
	transform: scale(0.9, 0.9);
  }
}
//Gallery block
.gallery-block {
  overflow: hidden;
  background-color: #000000;
  padding: size(40) 0;
  .block-title {
	color: #eedfd7;
	&:after, &:before {
	  background-color: #eedfd7;
	}
  }
  .link-text {
	color: #ffffff !important;
  }
}
.gallery-main-item {
  position: relative;
  @include d-center;
  @include back-img;
  width: 100%;
  border-radius: 15px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 114%;
  }
}
.view-more {
  position: absolute;
  left: size(20);
  top: size(20);
  z-index: 4;
  background-color: #ffffff;
  img {
	width: size(27);
  }
}
.row-gallery-slider {
  width: 110%;
}
//Post
.social-item-text {
  color: #000000;
  font-size: size(18);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
}
.share-items-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(22);
}
.share-item {
  margin-left: 12px;
  padding: 9px;
}
//Homepage
.first-screen {
  position: relative;
}
.home-image {
  @include back-img;
  height: 848px;
}
.offer-block-home {
  position: absolute;
  bottom: -120px;
  width: 100%;
  right: 0;
  z-index: 9;
}
.offer-block-inside {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 13px 62px;
  @media (max-width: 576px) {
	padding: 13px 22px;
  }
}
.offer-link {
  @include d-center;
  min-height: size(53);
  border-radius: 10px;
  background-color: #000000;
  @include h5;
  color: #eedfd7;
  text-align: center;
  padding: 3px 20px;
  img {
	margin-right: size(20);
	width: size(21);
  }
  @media (max-width: 992px) {
	margin-bottom: 1.5rem;
  }
}
//Product
.main-product-title {
  @include h5;
  margin-bottom: size(23);
  @media (max-width: 992px) {
	display: none;
  }
}
.col-title-mobile {
  display: none;
  @media (max-width: 992px) {
	display: block;
	.main-product-title {
	  display: block;
	}
  }
}
.big-slider-item, .thumb-item {
  &:after {
	padding-bottom: 71%;
  }
}
.thumb-item {
  border-radius: 10px;
}
.price-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: size(41);
  margin-left: 11px;
}
.old-price {
  @include h4;
  color: #999999;
  text-align: center;
  text-decoration: line-through;
  margin-left: 10px;
}
.new-price {
  @include h2;
  margin-left: 10px;
}
.thumbs-wrap {
  display: flex;
  .slick-prev, .slick-next {
	left: unset !important;
	right: unset !important;
	margin: 0 6px;
	@media screen and (max-width: 450px) {
	  margin: 0 2px;
	}
  }
}
.put-arrows-here {
  width: 25%;
  @include d-center;
  .slick-prev, .slick-next {
	position: unset;
	background-position: center;
	background-repeat: no-repeat;
	@include d-center;
	width: size(53);
	height: size(53);
	background-size: size(21);
	background-color: $yellow-main;
	border-radius: 10px;
	z-index: 33;
	top: unset;
	bottom: unset;
	margin-bottom: -2rem;
	transition: background-color ease-out .5s;
	&:hover {
	  background-color: #ebebeb;
	}
  }
  .slick-next {
	background-image: url("../iconsall/arrow-black-left.png");
  }
  .slick-prev {
	background-image: url("../iconsall/arrow-black-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
  @media (max-width: 1200px) {
	width: 30%;
  }
}
.thumbs {
  width: 75%;
  @media (max-width: 1200px) {
	width: 70%;
  }
}
.gallery-item, .big-slider-item, .thumb-item {
  position: relative;
  @include d-center;
  @include back-img;
  border-radius: 15px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 76.13%;
  }
}
.product-call-link {
  @include d-center;
  height: size(53);
  border-radius: 10px;
  @include h5;
  background-color: $yellow-main;
  padding: size(8) size(30);
  transition: color, background-color ease-out .5s;
  &:hover {
	color: #ffffff;
	background-color: #000000;
  }
}

@import "responsive";
